header {
    padding-left: 25%;
    padding-right: 25%;
    background-color: rgb(222, 216, 224);
}
header h2 {
    padding-left: 25%;
    padding-right: 25%;
}
section {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 15%;
    padding-bottom: 15%;
}
h3 {
    background-color: rgb(214, 211, 211);
}
.Entrada {
    height: 36px;
    width: 70%;
    border-radius: 12px;
    background-color: white;
    border: 0.5px solid rgb(214, 211, 211);
    padding-left: 8px;
    outline: none;
}
.Entrada:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    border-color: rgb(201, 162, 245);
}
.Calcular {
    border: none;
    padding: rgb(125, 90, 133);
    font-size: large;
}
footer{
    background-color: rgb(222, 216, 224);
    padding: 15px;
    position: fixed;
    width: 96.5%;
    bottom: 0;
}
footer section {
    padding-left: 30%;
    padding-right: 30%;
}
body {
    background-image: url('../src/fondo.jpg');
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}